* {
  padding: 0;  /*  */
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

.container {
  display: flex;   /*    */
  width: 100%;     /*    */
  height: 100vh;
  align-items: center; /* выравнивание по вертикали */
  justify-content: center; /* выравнивание по горизонтали (если нужно) */

  background-image: url("/pic1.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  position: relative;
}

.navmenu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-menu {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 50px;
}

.punkt {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  mix-blend-mode: difference;
  color: white;
}

.logo-top-right {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 10;
}

.logo-top-right img {
  height: 100px; /* или подберите под ваш размер */
}

img {
  height: 100px;
}


/*

@media (min-width: 481px) and (max-width: 767px) { ... }


@media (min-width: 768px) and (max-width: 1023px) { ... }


@media (min-width: 1024px) and (max-width: 1439px) { ... }


@media (min-width: 1440px) { ... }


@media (min-width: 1920px) { ... }*/


.block-1 {
  display: flex;
}

.bl-1 {

  
  width: 100px;
  height: 50px;
  background-color: blue;
  padding: 10px;
  margin: 10px;


}